* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --light_pink: hsl(275, 100%, 97%);
    --grayish_purple: hsl(292, 16%, 49%);
    --dark_purple: hsl(292, 42%, 14%);
}

body {
    background-color: var(--light_pink);
    background-image: url('./images/background-pattern-desktop.svg');
    /* background-position: top; */
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body main {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    transition: all 1s ease;
}

.line {
    height: 0.1px;
    width: 100%;
    background-color: lightgrey;
    display: block;
    margin: 10px 0;
}

.accordion-content {
    display: none;
    transition: display 1s ease-in-out;
}

.accordion-content.show {
    display: block;
}

.plus.hide {
    display: none;
}



.accordion-section.active .accordion-content {
    display: block;
    transition: display 1s ease-in-out;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
}

.attribution {
    text-align: center;
}

.card_header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}